{% extends 'base.html' %}
{% block content %}


{% for event in events %}
  <a href="{% url 'detail' event.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ event.eventTitle }}</span>
        <p>Description: {{ event.description|linebreaks }}</p>
        <p>Date: {{ event.date }}</p>
        <p>Location: {{ event.evtLocation|linebreaks }}</p>
        {% if event.photo_set.count %}
          <div class="card-image">
            <img id="calendar-img" class="responsive-img" src="{{ event.photo_set.first.url }}" alt="photo of {{ event.eventTitle }}">
          </div>
        {% endif%}
      </div>
    </div>
  </a>
{% endfor %}

{% endblock %}